@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}

/* header ----------------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
  }
  
  
  .flexCenter > * {
    margin-left: 8px;
  }


  .font-youtube {
    font-family: 'Your Desired Font', sans-serif;
  }
  
